#hero{
    background-color: var(--blue);
    color: var(--white);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#hero h1{
    font-family: var(--font-family-title);
    font-size: 7rem;
    color: var(--white);
}

#hero p{
    color: var(--white);
}

#hero button{
    margin-top: 40px;
    cursor: pointer;
}