@media (max-width: 480px) {
    nav{
        width: 90%;
        height: 5%;
    }
    .nav-links{
        display: none;
    }
    .mobile-nav-toggle{
        display: flex;
    }
}

@media (max-width: 768px) and (min-width: 481px){
    .nav-links{
        display: none;
    }
    .mobile-nav-toggle{
        display: flex;
    }
}

@media (max-width: 1024px) and (min-width: 769px) {
    .nav-links{
        display: flex;
    }
    .mobile-nav-links{
        display: none;
    }
    .mobile-nav-toggle{
        display: none;
    }
}

@media (min-width: 1024px){
    .nav-links{
        display: flex;
    }
    .mobile-nav-links{
        display: none;
    }
    .mobile-nav-toggle{
        display: none;
    }
}