*{
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url('./../fonts/JetBrainsMono-VariableFont_wght.ttf');
}

:root{
    --font-family: "JetBrains Mono";

    --font-text: 16px;

    --black: #272727;
    --white: #f8f8f8;
    --blue: #223cb2;
    --red: #d11c1c;
    --green: #2b9422;
    --orange: #ff751f;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: var(--font-family);
}

nav{
    background-color: var(--white);
    color: var(--black);
    position: sticky;
    top: 20px;
    width: 80%;
    left: 10%;
    padding: 5px;
    border-radius: 25px;
    border: 2px solid var(--black);
    box-shadow: 3px 3px 0px black;
}

.nav-container{
    display: flex;
    align-items: center; 
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 5px;
}

.profile{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    text-decoration: none;
    color: var(--black);
}

.profile-img{
    width: 40px;
    height: 40px;
    border-radius: 100px;
    background-color: var(--black);
}

.nav-links{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
    margin-right: 10px;
}

.nav-links a{
    text-decoration: none;
    color: var(--black);
    cursor: pointer;
}

.mobile-nav-toggle{
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: none;
    margin: 10px;
}
.mobile-nav-toggle div{
    width: 20px;
    height: 3px;
    background-color: var(--black);
    transition: all ease 0.3s;
}

.active-mobile-nav-toggle-line2{
    opacity: 0;
}

.active-mobile-nav-toggle-line1{
    transform: rotate(45deg) translate(6px, 5.5px);
}

.active-mobile-nav-toggle-line3{
    transform: rotate(-45deg) translate(6px, -5.5px);
}

.mobile-nav-links{
    display: none;
    flex-direction: column;
    height: 0px;
    transition: all ease 0.3s;
}

.active-mobile-nav-links{
    display: flex;
    height: 150px;
}

.mobile-nav-links a{
    display: flex;
    width: 100%;
    min-height: 50px;
    align-items: center;
    padding: 0 10px 0 10px;
    text-decoration: none;
    color: var(--black);
    cursor: pointer;
    overflow: hidden;
}

#hero{
    background-color: var(--blue);
    height: 100vh;
    width: 100%;
}

#experience{
    background-color: var(--red);
    height: 100vh;
    width: 100%;
}

#projects{
    background-color: var(--green) ;
    height: 100vh;
    width: 100%;
}

#contact{
    background-color: var(--orange);
    height: 100vh;
    width: 100%;
}

@media (max-width: 480px) {
    nav{
        width: 90%;
        height: 5%;
    }
    .nav-links{
        display: none;
    }
    .mobile-nav-toggle{
        display: flex;
    }
}

@media (max-width: 768px) and (min-width: 481px){
    .nav-links{
        display: none;
    }
    .mobile-nav-toggle{
        display: flex;
    }
}

@media (max-width: 1024px) and (min-width: 769px) {
    .nav-links{
        display: flex;
    }
    .mobile-nav-links{
        display: none;
    }
    .mobile-nav-toggle{
        display: none;
    }
}

@media (min-width: 1024px){
    .nav-links{
        display: flex;
    }
    .mobile-nav-links{
        display: none;
    }
    .mobile-nav-toggle{
        display: none;
    }
}